/* -------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

.container-sm {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

i {
  font-size: 1.2rem;
}



/* -------------------- */